<header>
    <nav>
        <ul>
            <li><%= link_to :Home, root_path %></li>
            <li><%= link_to :Physicians, physicians_path %></li>
            <li><%= link_to :Patients, patients_path %></li>
            <li><%= link_to :Appointments, appointments_path %></li>
            <li><%= link_to :Industries, industries_path %></li>
            <li><%= link_to :Sectors, sectors_path %></li>
        </ul>
    </nav>
</header>