<%= link_to :New, new_industry_path %>
<% if !@industries.nil? %>
    <table border="1">
        <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Registration Number</td>
                <td>Sectors</td>
                <td></td>
                <td></td>
            </tr>
        <thead>
        <tbody>
            <% @industries.each do |ele| %>
                <tr>
                    <td><%= ele.name %></td>
                    <td><%= ele.email %></td>
                    <td><%= ele.registration_number %></td>
                    <td><%= ele.sectors.empty? ? "Nil" : ele.sectors.pluck(:name) %></td>
                    <td><%= link_to :Edit, edit_industry_path(ele.id) %></td>
                    <td><%= button_to :Delete, industry_path(ele.id),  method: :delete %></td>
                </tr>    
            <% end %>
        </tbody>
    </table>
<% end %>